@font-face {
    font-family: "Amatic SC";
    src: url("../../public/fonts/Amatic\ SC/AmaticSC-Regular.ttf");
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 20vh;
    width: 100%;
}

header .logoContainer {
    margin-top: 20px;
    width: 200px;
    max-height: 200px;

    margin-right: 40%;
}
  
header .logoContainer img {
    width: 100%;
    height: auto;
}

nav {
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 15px;
}

nav ul {
    display: flex;
    align-items: center;
    
    text-transform: uppercase;
    font-weight: bold;

    margin: 0 auto;
    cursor: pointer;
}

nav ul li {
    margin-left: 20%;
}

a {
    color: peru;
}

a::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 0;
    height: 2px;
    margin: 2px auto 0;
    transition: all 0.3s ease;
}

ul li:hover:not(.firstNavLink) a::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 2px auto 0;
    transition: all 0.3s ease;
}


